* {
    font-family:'Segoe UI'
}

.checkbox{
    margin-top:10px;
    margin-bottom:10px;
}
[type="checkbox"] + label {
    padding-left: 10px;
}
td:first-child{
    font-weight:bold;
}

.validatori{
    font-weight:bold;
    color:red;
}

.form-group{
    margin-bottom:15px;
}

.validationSummary {
    text-align: left;
    margin-top: 30px;
    font-weight: normal;
}
div{
    display:block;
}

nav ul{
    text-align:center;
    margin:0;
    padding:0;
}

nav ul li{
    list-style:none;
    display:inline-block;
    margin:5px 20px;
}

nav > ul > li > a {
    width: 160px;
}

nav > ul > li > a > span {
    margin-right: 7px;
}

.naslov{
    font-weight: lighter;
    font-size: 2em;
}

.gumbiDesno {
    display: inline-block;
    float: right;
}

.userKontrolaTablica td:first-child{
    font-weight:bold;
}
.userKontrolaTablica td{
    padding:5px;
}

.osoba{
    border:1px solid #dedede;
    width:310px;
    padding:10px;
    float:left;
    margin:10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.mojKontenjer{
    margin-top: 30px;
    background: white;
    padding: 15px 40px;
}